<header class="header">
        <nav class="container flex flex-row justify-auto align-center">
            <a href="index.html">
            <img src="{{srcLogo}}" alt="{{altLogo}}">
            </a>
            <nav id="desktopMenu" class="flex flex-row justify-left gap-s">
            <a class="link" href="index.html">Inicio</a>
            <a id="btnDropdown" class="link" data-align="left">
                Herramientas
                <span class="material-symbols-outlined">stat_minus_1</span>
            </a>
            <a class="link" href="contact.html">Contacto</a>
            
            </nav>
            <button id="mobileMenu" class="btn btn--base btn--icon-only btn--hidden" data-align="right">
                <span class="material-symbols-outlined">menu</span>
            </button>
        </nav>
</header>