@use '../../scss/tokens/tokens';
@use '../../scss/base/global';
@use '../../scss/layout/layout';
@use '../../scss/components/components';

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 6%, 65%);
  border-bottom: solid 1px hsla(228, 6%, 10%, 0.15);
  padding: 1.5rem;

  #btn-menu {
    position: relative;
    }
}
