/*Primary*/
/*Secondary*/
/*Tertiary*/
/*Base*/
/*Surface*/
/*Error*/
/*Warning*/
/*Success*/
/*Opacity*/
/*Font size*/
/*Font family*/
/*Font weight and style*/
/*Padding*/
/*Margin*/
/*Gap*/
/*Border-radius*/
* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

body {
  margin: 0rem;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  margin: 0rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: hsl(228, 6%, 10%);
  background-color: hsl(227, 6%, 93%);
  min-height: 100%;
}

h1, h2, h3, h4 {
  font-family: "Funnel Display", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

a {
  color: hsl(228, 6%, 10%);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
}

button {
  cursor: pointer;
}

.label {
  font-size: 0.875rem;
  font-weight: 600;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-left {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-auto {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.content {
  max-width: 720px;
}

.pad-xxs {
  padding: 0.125rem;
}

.pad-xs {
  padding: 0.25rem;
}

.pad-s {
  padding: 0.5rem;
}

.pad-m {
  padding: 0.75rem;
}

.pad-l {
  padding: 1rem;
}

.pad-xl {
  padding: 1.5rem;
}

.pad-xxl {
  padding: 3rem;
}

.gap-xxs {
  gap: 0.125rem;
}

.gap-xs {
  gap: 0.25rem;
}

.gap-s {
  gap: 0.5rem;
}

.gap-m {
  gap: 0.75rem;
}

.gap-l {
  gap: 1rem;
}

.gap-xl {
  gap: 1.5rem;
}

.gap-xxl {
  gap: 3rem;
}

.wrap {
  flex-wrap: wrap;
}

.text-centered {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 6%, 65%);
  border-bottom: solid 1px hsla(228, 6%, 10%, 0.15);
  padding: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 1.5rem 3rem 1.5rem;
  min-height: 100vh;
}
@media (max-width: 992px) {
  .main {
    padding: 3rem 1rem 3rem 1rem;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: hsl(228, 6%, 10%);
  padding: 1.5rem;
}

.container-inner {
  display: flex;
  gap: 3rem;
}

.container-inner-small {
  max-width: 720px;
}

@media (max-width: 992px) {
  .container {
    margin: 0;
  }
}

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (max-width: 992px) {
  .grid-col-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 992px) {
  .grid-col-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.index-body {
  background-image: url("../../assets/image/bg-index.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 0.75rem;
  background-color: hsla(228, 6%, 10%, 0);
  border: solid 1px hsla(228, 6%, 10%, 0);
  color: hsl(228, 6%, 10%);
  font-size: 1rem;
  font-weight: 600;
}
.link:hover {
  background-color: hsl(227, 6%, 91%);
  border: solid 1px hsl(227, 6%, 91%);
}
.link:active {
  background-color: hsl(341, 87%, 93%);
  border: solid 1px hsl(341, 87%, 93%);
  color: hsl(341, 87%, 14%);
}
.link.disabled, .link[aria-disabled=true] {
  opacity: 0.6;
  pointer-events: none;
}
.link span {
  font-size: 1rem;
  font-weight: 600;
}

.display {
  background: linear-gradient(91deg, hsl(341, 87%, 60%) 12.56%, hsl(228, 94%, 65%) 89.14%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  box-shadow: 0 1px 6px 1px hsla(228, 6%, 10%, 0.15);
  min-width: 280px;
}
.card__header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem;
}
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}
.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
}
.card:hover {
  background-color: hsl(227, 6%, 91%);
}
.card:active {
  background-color: hsl(341, 87%, 93%);
}
.card.is-disabled, .card[aria-disabled=true] {
  opacity: 0.6;
  pointer-events: none;
}

.section {
  flex: 1;
  display: flex;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
}
.section__header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem;
}
.section__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}
.section__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
}
.section__footer button {
  width: 100%;
}

.logo {
  display: block;
  height: 3rem;
  width: auto;
}

.logo-s {
  display: block;
  height: 32px;
  width: auto;
}

.vector {
  display: block;
  width: 48px;
  height: 48px;
  object-fit: contain;
  flex-shrink: 0;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
}
.btn--primary {
  background-color: hsl(341, 87%, 60%);
  border: solid 1px hsl(341, 87%, 60%);
  color: hsl(0, 0%, 100%);
}
.btn--primary:hover {
  background-color: hsl(341, 70%, 50%);
  border: solid 1px hsl(341, 70%, 50%);
  color: hsl(0, 0%, 100%);
}
.btn--primary:active {
  background-color: hsl(341, 70%, 40%);
  border: solid 1px hsl(341, 70%, 40%);
  color: hsl(0, 0%, 100%);
}
.btn--primary:disabled {
  background-color: hsl(341, 87%, 60%);
  border: solid 1px hsl(341, 87%, 60%);
  color: hsl(0, 0%, 100%);
  opacity: 0.6;
  cursor: none;
}
.btn--base {
  background-color: hsl(227, 6%, 91%);
  border: solid 1px hsl(227, 6%, 91%);
  color: hsl(228, 6%, 22%);
}
.btn--base:hover {
  background-color: hsl(227, 6%, 83%);
  border: solid 1px hsl(227, 6%, 83%);
  color: hsl(228, 6%, 22%);
}
.btn--base:active {
  background-color: hsl(228, 6%, 74%);
  border: solid 1px hsl(228, 6%, 74%);
  color: hsl(228, 6%, 22%);
}
.btn--base:disabled {
  background-color: hsl(227, 6%, 91%);
  border: solid 1px hsl(227, 6%, 91%);
  color: hsl(228, 6%, 22%);
  opacity: 0.6;
  cursor: none;
}
.btn span {
  font-size: 1rem;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
