  @use '../tokens/tokens';
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: tokens.$color-on-surface;
    padding: tokens.$padding-xl;
  }