  @use '../tokens/tokens';

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: tokens.$color-surface;
    color: tokens.$color-on-surface;
    padding: tokens.$padding-xl;
  }
