@use '../tokens/tokens';

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: tokens.$gap-s;
    padding: tokens.$padding-s tokens.$padding-m tokens.$padding-s tokens.$padding-m;
    border-radius: tokens.$border-radius-s;
    font-size: tokens.$font-size-16;
    font-weight: tokens.$font-weight-semibold;

    &--primary {
        background-color: tokens.$color-primary;
        border: solid 1px tokens.$color-primary;
        color: tokens.$color-on-primary;
    }

    &--primary:hover {
        background-color: tokens.$color-primary-hover;
        border: solid 1px tokens.$color-primary-hover;
        color: tokens.$color-on-primary;
    }

    &--primary:active {
        background-color: tokens.$color-primary-active;
        border: solid 1px tokens.$color-primary-active;
        color: tokens.$color-on-primary;
    }

    &--primary:disabled {
        background-color: tokens.$color-primary;
        border: solid 1px tokens.$color-primary;
        color: tokens.$color-on-primary;
        opacity: 0.6;
        cursor: none;
    }

    &--base {
        background-color: tokens.$color-base;
        border: solid 1px tokens.$color-base;
        color: tokens.$color-on-base;
    }

    &--base:hover {
        background-color: tokens.$color-base-hover;
        border: solid 1px tokens.$color-base-hover;
        color: tokens.$color-on-base;
    }

    &--base:active {
        background-color: tokens.$color-base-active;
        border: solid 1px tokens.$color-base-active;
        color: tokens.$color-on-base;
    }

    &--base:disabled {
        background-color: tokens.$color-base;
        border: solid 1px tokens.$color-base;
        color: tokens.$color-on-base;
        opacity: 0.6;
        cursor: none;
    }
    
    span {
    font-size: tokens.$font-size-16;
    font-weight: tokens.$font-weight-semibold;
    }
}