 .index-body {
    background-image: url('../../assets/image/bg-index.svg');
    background-position: left top;
    background-repeat: no-repeat;    
    background-size: cover; 
    min-height: 100%;
}