@use '../tokens/tokens';

body {
    font-family: tokens.$font-family-base;
    font-size: tokens.$font-size-16;
    color: tokens.$color-on-surface;
    background-color: tokens.$color-surface-var;
    min-height: 100%;
}

h1, h2, h3, h4 {
    font-family: tokens.$font-family-brand;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
  font-size: tokens.$font-size-48;
}

h2 {
  font-size: tokens.$font-size-36;
}

h3 {
  font-size: tokens.$font-size-28;
}

h4 {
  font-size: tokens.$font-size-22;
}

a {
    color: tokens.$color-on-surface;
    text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
  padding: tokens.$padding-none;
  margin: tokens.$margin-none;
}

button {
    cursor: pointer;
  }

.label {
  font-size: tokens.$font-size-14;
  font-weight: tokens.$font-weight-semibold;
}