@use '../tokens/tokens';

* {
  box-sizing: border-box;
  margin: tokens.$margin-none;
  padding: tokens.$padding-none;
}

body {
  margin: tokens.$margin-none;
  min-height: 100vh;
}

h1, h2, h3, h4,  h5 {
  margin: tokens.$margin-none;
}