/*Padding*/
$padding-none: 0rem;
$padding-xxs: 0.125rem;
$padding-xs: 0.25rem;
$padding-s: 0.5rem;
$padding-m: 0.75rem;
$padding-l: 1rem; 
$padding-xl: 1.5rem;
$padding-xxl: 3rem;

/*Margin*/
$margin-none: 0rem; 
$margin-xxs: 0.125rem;
$margin-xs: 0.25rem;
$margin-s: 0.5rem;
$margin-m: 0.75rem;
$margin-l: 1rem; 
$margin-xl: 1.5rem;
$margin-xxl:3rem;

/*Gap*/
$gap-none: 0rem; 
$gap-xxs: 0.125rem;
$gap-xs: 0.25rem;
$gap-s: 0.5rem;
$gap-m: 0.75rem;
$gap-l: 1rem; 
$gap-xl: 1.5rem;
$gap-xxl: 3rem;