/*Font size*/
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.375rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-size-28: 1.75rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;
$font-size-40: 2.5rem;
$font-size-48: 3rem;

/*Font family*/
$font-family-brand: "Funnel Display", sans-serif;
$font-family-base: "Roboto", sans-serif;

/*Font weight and style*/
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-style-italic: italic; 